<h1>Welcome to the pokedex</h1>
<h2>Personal Project</h2>
<p>A simple pokedex project where you can find some of the most known pokemons (it will grow more later).
    <br> Made with MEAN stack: MongoDb, Express, Angular & NodeJS
    <br> Developer: Yared Del Toro.
</p>

<div id="icons">
    <a href="">
        <button><fa-icon [icon]="faFacebookSquare" id="bFacebook"></fa-icon></button>
    </a>
    <a href="">
        <button> <fa-icon [icon]="faTwitterSquare" id="bTwitter"></fa-icon></button>
    </a>
    <a href="">
        <button> <fa-icon [icon]="faWhatsappSquare" id="bWhatsapp"></fa-icon></button>
    </a>
    <a href="">
        <button> <fa-icon [icon]="faInstagramSquare" id="bInstagram"></fa-icon></button>
    </a>
    <a href="">
        <button> <fa-icon [icon]="faGithubSquare" id="bGithub"></fa-icon></button>
    </a>
    <a href="">
        <button>  <fa-icon [icon]="faEnvelope" id="bEnvelope"></fa-icon></button>
    </a>
</div>