<div id="app_container">
    <div id="top">
        <div id="nav_icons">
            <ul>
                <a id="Name" [routerLink]="['/']" [routerLinkActive]="['activeLink']">
                    <li>YSCT</li>
                </a>
                <a id="About" [routerLink]="['/About']" [routerLinkActive]="['activeLink']">
                    <li> About </li>
                </a>
                <a id="Pokedex" [routerLink]="['/Pokedex']" [routerLinkActive]="['activeLink']">
                    <li>Pokedex </li>
                </a>

                <a [routerLink]="['/']">
                    <img src="../assets/img/ball.png">
                </a>
            </ul>

        </div>

        <div id="nav_search">
            <form #pokemonSearch="ngForm" id="pokemonSearch">
                <input type="text" placeholder="Search a Pokemon" [(ngModel)]="p_name" [ngModelOptions]="{standalone: true}">
                <button (click)="searchPokemon(pokemonSearch)"><fa-icon [icon]="faSearch" id="bSearch"></fa-icon></button>
            </form>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>